.row-header-item{
    margin: 1rem 1rem ;
    display: grid;
    grid-template-columns: 1fr 8% 15% 15% 5% 10%;
    padding: 1rem 1.3rem ;
    align-items: center;
    gap: 20px;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: #fff;
    text-wrap: nowrap;
    border: 1px solid #ccc;
}

.row-item-agendado{
    margin: 1rem 1rem ;
    display: grid;
    grid-template-columns: 1fr 8% 15% 15% 5% 10%;
    padding: 1.6rem 1.3rem ;
    text-align: center;
    align-items: center;
    gap: 20px;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.row-item-agendado a , .row-item a , span a{
    cursor: pointer;
}

.row-item-pendente{
    margin: 0 1rem ;
    display: grid;
    grid-template-columns: 8% 8% 30% 8% 17% 15% 10%;
    padding: 1.6rem 1.3rem ;
    align-items: center;
    gap: 20px;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: #2c2f3a;
}

.input-form-text {
    width: 80%;
    text-align: start;
}

.disabled-input {
    pointer-events: none;
}

.span-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#trash-icon {
    color: rgb(247, 71, 71);
}

.right-to-left {
    animation: slideIn 0.5s ease-out forwards; /* Inicia a animação */
}

.left-to-right {
    animation: slideOut 0.5s ease-out forwards; /* Inicia a animação */
}

@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideOut {
    from {
        transform: translateX(0%);
        opacity: 0;
    }
    to {
        transform: translateX(100%);
        opacity: 1;
    }
}