.modal-container {
    padding: 2rem 0;
    width: 70%;
    max-height: 500px;
    position: fixed;
    background-color: #252838;
    top: 10%;
    transform: opacity .9s;
    visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
    padding-bottom: 3rem;
    z-index: 9999;
}

.active {
    visibility: visible;
    animation: show-modal .6s ease;
}

@keyframes show-modal {
    from {
        top: 0;
        opacity: 0;
    }to{
        top: 10%;
        opacity: 1;
    }
}

.btnCloseModal{
    color: red;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: .8;
    transition: opacity .4s ease;
    cursor: pointer;
}

.btnCloseModal:hover{
    opacity: 1;
}

.section-entrega {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    /* background-color: #7a7d8a; */
    border: 1px solid #F2F2F2;
    margin: 1.2rem;
    border-radius: .3rem;
    color: #F2F2F2;
    margin-top: 2.3rem;
}

.section-entrega h2 {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: #252838;
}

.clienteEndereco {
    display: flex;
    flex-direction: column;
}

.statusTipoEntrega{
    display: flex;
    gap: 2rem;
}


/* Seção dos itens */
.section-itens{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border: 1px solid #F2F2F2;
    margin: 1.2rem;
    border-radius: .3rem;
    color: #F2F2F2;
    margin-top: 2.3rem;
}

.section-itens h2 {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: #252838;
}

.rowItem {
    display: grid;
    grid-template-columns: 50% 20% 10% 20%;
    background-color: #373c55;
    padding: .8rem 2rem;
    border-radius: .3rem;
    gap: 1rem;
    border: #F2F2F2 1px solid;
}