.banner {
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
}

.section {
    margin-top: 1rem;
    width: 98%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.row-input {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: end;
}

.input-label {
    display: flex;
    flex-direction: column;
}


.form-control{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-control label{
    margin-bottom: .3rem;
}

.input-form-control {
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #231a1e;
    padding: .64rem .8rem  !important;
}

.input-form-control:focus {
    outline: none;
    border: 1px solid #717070;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0);
}

.text-left{
    text-align: left !important;
}

.row-btn {
    justify-content: end;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-self: end;
}

#pesquisa {
    padding: 1rem 2rem;
    background-color: #fff;
    color: #231a1e;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    border-radius: .3rem;
    box-shadow: 0 0 1px #231a1e;
}


#pesquisa label{
    margin-bottom: 5px;
}

.btn-search, 
.btn-limpar {
    border: none;
    padding: .7rem 2.5rem;
    align-self: flex-end;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .4s;
    display: flex;
    gap: 5px;
}

.btn-search {
    background-color:#28a745;
}

.btn-limpar {
    background-color:#6c757d ;
}

.btn-search:hover {
    color: #28a745;
    background-color: #fff;
    border: 1px solid #28a745;
}

.btn-limpar:hover{
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #6c757d;
}

.tabela {
    width: 100%;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.header-table {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #212529;
    padding: .9rem 0rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 1px #212529;
    font-size: 14px;
}

.body-table {
    width: 100%;
  }

.row-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #212529;
    margin-top: 3px;
    background-color: white;
    padding: .9rem 0rem;
    align-items: center;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 1px #212529;
    font-size: 13px;
}


.info-null {
    background-color: white;
    padding: 1.5rem;
    color: #fa0021;
    border: 1px solid #fa0021;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 1.3rem;
    border-radius: .3rem;
    gap: 5px;
    
}